/**
 * main file to give single output
 */
@import './common';
@import './media';
@import './variables';

// @import './component/form/accordion';
// @import './component/form/form';
// @import './component/form/input-with-pills';
// @import './component/form/pill';
// @import './component/form/search';
// @import './component/form/suggestions';

// @import './component/button';
// @import './component/symbol';

@import './component/tree-handler';
@import './component/tree-node';

.side {
    &__section {
        flex: 1 1 50%;

        &--label {
            display: flex;
            flex-direction: column;
        }
    }
}

.pattern-input {
    // flex-basis: 100%;
    // display: flex;
    // flex: 1 1 30%;
    box-sizing: border-box;
}

.item {
    position: relative;
    display: inline-flex;

    &-picture {
        max-width: 64px;
        max-height: 64px;
    }

    &-container {
        max-height: 10em;
        overflow: auto;
    }

    &-counter {
        position: absolute;
        bottom: 18.5%;
        right: 18.5%;
        color: #fff;
        font-family: opensans;
        font-size: 11px;
        text-align: center;
        text-shadow: 0 -1px 1px #000;
        line-height: 12px;
    }
}

.section {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    flex-direction: column;

    &--pattern {
        justify-content: space-around;
    }

    &-title {
        min-width: 100%;
    }

    // &-wrapper {
    //     position: relative;
    //     display: flex;
    //     height: 20px;
    //     flex: 1 1 50%;
    // }
    &s-wrapper {
        position: relative;
    }

    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        // background: #d8eff7;
        border-radius: 10px;
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        border: 1px dashed;
        z-index: 2;
        background: rgb(239, 239, 239);
    }

    &-button-close-expanded {
        margin-left: auto;
        border: none;
        background: transparent;
    }
}

.preview-item {
    display: inline-flex;
    align-items: center;
    max-width: 120px;
    min-width: 120px;
    font-size: 24px;
}

#root {
    display: flex;
    flex-wrap: wrap;
}
